#backend/src/scripts/generateToken.ts e front-end/src/services/firebase.ts
APIKEY=""
AUTHDOMAIN=""
PROJECTID=""

FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco"

# Frontend 
EXPO_PUBLIC_API_URL="http://seu-ip:3000"
EXPO_PUBLIC_OPENWEATHER_API_KEY=""
EXPO_PUBLIC_FIREBASE_API_KEY=""
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=""
EXPO_PUBLIC_FIREBASE_PROJECT_ID=""